.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}


/* Main styles */
.animatedBackground {
  position: absolute;
  width: 100%;
  height: 100%;

	background: linear-gradient(-90deg, #264653,#2a9d8f,#e9c46a,#f4a261,#e76f51);
	background-size: 400% 400%;
	animation: gradient 120s ease infinite;
  // background: url($bg-url) repeat 0 0;

  // -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  // -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  // -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  // animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  // -webkit-animation-timing-function: linear;
  // -moz-animation-timing-function:    linear;
  // -o-animation-timing-function:      linear;
  // animation-timing-function:         linear;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
