.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.animatedBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  //  #2f42d9, #d9472f
  background: linear-gradient(90deg, #264653,#2a9d8f,#e9c46a,#f4a261,#e76f51, );
  background-size: 600% 600%;
  animation: AnimationName 100s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
